/* tablet */
@media (max-width: 768px) {
   #home {
      flex-direction: column;
   }
   .navbar {
      display: none;
   }
   .hamburger {
      display: block;
   }
}

/* phone */
@media (max-width: 640px) {
   .logo {
      display: none;
   }
}